.project-card-views {
    box-shadow: 0 3px 9px 1px rgba(1, 0, 0, 0.661) !important;
    color: rgb(156, 22, 22) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    width: 77%;
    border-radius: 20px;
    margin-bottom: 2rem;

}

.project-section {
    padding-top: 150px !important;
}

.price {
    color: black;
}

.cash {
    font-weight: 800;
    font-style: italic;
}

.project-card {
   
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 28px !important;
    padding-right: 25px !important;   
}

.img {
    border-radius: 15px;
    margin-bottom: 1.5rem;
    width: 100%; 
    max-width: 20rem; 
    height: auto; 
}

/* Phones */
@media only screen and (max-width: 600px) {
    /* Styles for phones go here */
}
  
/* Tablets (iPad) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablets go here */
}
  
/* Laptops and Desktops */
@media only screen and (min-width: 1025px) {
    /* Styles for laptops and desktops go here */
}

@media (max-width: 780px) {
    .img {
        max-width: 16.5rem;
    }

    .project-card {
        padding: 15px; 
    }

    .project-card-views {
        width: 66%;
    }


}
  