.ladingpage {
    width:100%;
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(65, 101, 81, 0.65), rgba(182, 118, 114, 0.65)); */
    background-size: cover;
    background-position: center;
    padding: 10px 5px;
    
}

.landingtxt {
    padding: 3rem;
    font-size: 70px;
    width: 600px;
    margin-bottom: 0;
    margin-top: 1rem;
}

.ladingtxt {
    width: 500px;
    font-size: 15px;
    text-align: justify;
    margin-left: 2rem;
    margin-top: 0;
}

.home-content {
padding: 14rem 0rem !important;
color: rgb(9, 7, 7);
text-align: left;
width: 65rem;
position: relative;
z-index: -1;
}

.heading {
font-size: 3em !important;
}

.heading-name {
font-size: 1rem !important;
width: 450px;
margin-bottom: 0;
}