.cart-container { 
    margin-top: 15rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 55%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(1, 1, 0.5, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.empty-cart {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

.quantity {
    margin: 0;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    margin-bottom: 1rem;
}

@media (max-width: 760px) {
    .cart-container {
        margin-top: 2rem;
        padding: 1rem;
        width: 80%;
        margin-top: 15rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9rem;
    }

    .quantityrm {
        border: none;

    }

    .total-price {
        font-size: 18px;
    }

}
