.form-container {  
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    padding: 2rem;
    width: 35%;     
    border: 8px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(1, 1, 0.5, 0.1);   
    justify-content: center;
    align-items: center;
}

.orderfmbtn {
    margin-top: 0.5rem;    
}

.Ototal-price {   
   /* padding-top: 1rem; */
   font-weight: 800;
   font-size: 25px;
   padding-bottom: 0.5rem;
   
}

.prdctlbl {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 550;
    
}

@media (max-width: 780px) {
    .Ototal-price {   
        padding-top: 1rem;
        font-weight: 800;
        font-size: 15px;
        padding-bottom: 0.5rem;
        
     }
    .form-container {
        padding: 1rem;
        width: 30%;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
    }

    /* .quantityrm {
        border: none;

    } */

    /* .total-price {
        font-size: 18px;
    } */

}