.form-container {
    margin-top: 5rem;
    padding: 5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.formp {
    margin-top: 2rem;
    margin-bottom: 0;
}

.formtc {
    margin-top: 1rem;    
}

.orderfmbtn {
    margin-top: 1rem;
    
}

.forminpt {
    width: 30rem;
    /* flex-direction: column */
}

.total-price {   
   padding-top: 2rem;
}