.about-section {
    margin-top: 3rem;    
    position: relative !important;
    padding-top: 150px !important;
    /* padding-bottom: 20px !important; */
    background-image: var(--section-background-color) !important;
    color: rgb(14, 14, 14) !important;
    
}

.about-content {
    
    /* font-size: 0.5rem; */

}

.about-content h1 {
    text-align: center;
    color: rgb(14, 14, 14) !important;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.aboutp {
    color: black;
    margin-top: 1rem;
    
}

.quote-card-view {
    border: none !important;
    margin-top: 0;
    color: rgba(177, 110, 191, 0.878) !important;
    background-color: transparent !important;
}

.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}

@media (max-width: 767px) {
    .about-img {
    padding-top: 0 !important;
    }
}