@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&family=Yomogi&display=swap');

.navbar {
  width: 100%;
  position: fixed !important;  
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
  transition: all 0.3s ease-out 0s !important;
}

.navbar.shadow {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}


.navbar-toggler span {
  display: block !important;
  background-color: hotpink!important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: linear-gradient(to left,  hotpink, rgb(11, 11, 11));
  }
  .logotxt{
    font-size: 1.8rem !important;

  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color:  hotpink !important;
}

.navbar-nav .nav-link {
  color:black!important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background:   hotpink;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: inline-block;
  padding: 0 100px;
}

.navbar ul li {
  display: inline-flex;
  padding: 28px 30px;
  padding-top: 10px;
  margin-top: 0;
  height: 2rem; 
}


.navbar ul li a {
  color: black;
  text-decoration: none;
}

.logotxt {
  font-size: 35px;
  font-weight: 800;  
  font-family: 'Yomogi', cursive;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}
